div {
    padding: 1em;
}
div#principal {
    @include redondea();
    @extend .fuente;
    background-color: $colorprincipal;
}
div#obscuro {
    @include redondea();
    @extend .fuente;
    background-color: darken($colorprincipal, 20);
}
div#claro {
    @include redondea(2em);
    @extend .fuente;
    background-color: lighten($colorprincipal, 40);
}
section {
    background-color: lighten($colorprincipal, 40);
    ul {
        li {
            color: $colorprincipal;
        }
    }
    p {
        color: darken($colorprincipal, 20);
        font-size: 20px;
        @media all and (max-width: 640px) {
            font-size: 10px;
        }
        > strong {
            color: red;
        }
        span {
            background-color: orange;
            display: block;
            @media all and (max-width: 640px) {
                background-color: lightblue;
                @include redondea();
            }
            &.resaltado {
                color: blue;
                font-size: 2em;
            }
        }
    }
}